<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/form-example.css') }}">
    <title>Table Example</title>
</head>
<body>
    <!-- Navigation Menu -->
    <div class="topnav">
        {% for item in nav.top %}
        <a class="{{ 'active' if item.is_active else '' }}" href="{{ item.url }}">{{ item.label }}</a>
        {% endfor %}
    </div>

    <h1>Table Example</h1>
   
    <table id="table1">
        <thead>
            <tr>
                <th>Sentence</th>
                <th>Sentiment Result</th>
                <th>Positive Score Result</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>  <!-- Assuming the sentence is in the first column -->
                <td>{{ record[1] }}</td>  <!-- Assuming the sentiment result is in the second column -->
                <td>{{ record[2] }}</td>  <!-- Assuming the positive score result is in the third column -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

</body>
</html>